<h1>This is the Homepage</h1>


<a href="/register"><button type="button" name="button">Register</button></a></br>
<a href="/login"><button type="button" name="button">Log In</button></a></br>
<a href="/logout"><button type="button" name="button">Log Out</button></a>
