<h1>Sign Up</h1>

<form class="" action="/register" method="post">
  <label for="">User Name: </label>
  <input type="text" name="username" value="">

  <div class="">
    <label for="">Password: </label>
    <input type="password" name="password" value="">
  </div>
  <button type="submit" name="button">Sign Up</button>
</form>
